<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Or Do This in Goa</title>
	<link rel="shortcut icon" href="images/Drinks.png" type="image/x-icon" />
	<meta name="author" content="Vac Lab" />
	<meta name="keywords"  content="multiscroll,jquery,alvaro,trigo,plugin,divided,splitscreen,screen,panels,layouts,vertical,split,splited" />
	<meta name="Resource-type" content="Document" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/jquery.multiscroll.css" />
	<link rel="stylesheet" type="text/css" href="css/examples.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.easings.min.js"></script>
	<script type="text/javascript" src="js/jquery.multiscroll.js"></script>
	<script type="text/javascript" src="js/index.js"></script>

	<script type="text/javascript">
	 $(document).ready(function() {
            $('#myContainer').multiscroll({
            	sectionsColor: ['#DE564B', '#DE564B', '#EAE1C0'],
            	anchors: ['first', 'second', 'third'],
            	menu: '#menu',
            	css3: true,
            	paddingTop: '70px',
            	paddingBottom: '70px'
            });

            if(document.getElementById("hiddenVal").value == "1"){
            	$('#leftContent1').slideUp(800);
            	$.fn.multiscroll.moveSectionDown();
            	$('#backTo').show();
            	document.getElementById("hiddenVal").value = "0"
            } else {
            	$.fn.multiscroll.moveSectionUp();
            	$('#leftContent1').slideDown(800);
            	$('#backTo').hide();
            }

            if(window.location.href == "http://localhost:4567/#first"){
            	$('#leftContent1').slideDown(800);
            	$('#backTo').hide();
            }
        });

    </script>


    <style>
    body{
    	font-family: 'Ubuntu', serif;
    	color:#ffffff;
    }
    h1{
    	color: #fff;
    	text-align: center;
    	font-size:75px;
    }

    h2{
    	font-size:60px;
    	color: #f0f0f0;
    }

    h3{
    	font-size:50px;
    	color: #ffffff;
    }

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 60px;
		display:block;
		width: 100%;
		background: #2B3856;
		z-index:9;
		text-align:center;
		color: #ffffff;
		padding: 20px 0 0 0;
	}

	.left{
		color:#ffffff;
		margin-right:-100px;
		padding-left:150px;
	}

	.right{
		color:#ffffff;
		margin-left:-10px;
		padding-right:200px;
	}

	.boxJumbo {
		/*padding: 30px 15px;*/
		margin-left: 35px;
		margin-top: 20px;
  		margin-bottom: 30px;
  		margin-right: 35px;
		padding-top: 30px;
		padding-bottom: 15px;
		color: inherit;
  		background-color: #eee;
  		border-radius: 6px;
  		background-color: #2B3856;
	}

	#leftContent1 {
		position: absolute;
		margin-top: 200px;
		margin-left:-30px;
		/*margin-left: 160px;*/
		z-index: 1;
		color: #e0e0e0;
		text-align: center;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}

	</style>
</head>
<body>
	<div id="header">
		<div class="col-lg-1" style="margin-top:-3px"><a style="margin-left:-50px" href="/"><img id="backTo" src="images/directionalLeft.png" height="25px"/></a></div>
		<div class="col-lg-3" style="margin-top:-8px;margin-right:50px;padding-right:30px;margin-left:-75px"><a href="/"><img src="images/Title.png" height="35px" width="400px"/></a></div>
		<div class="col-lg-2"></div>
		<div class="col-lg-5" style="margin-top:-5px;">
			<form action="/" method="post">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Enter something you want to buy.. e.g. iPhone" name="search" id="Search" autofocus />
      				<span class="input-group-btn">
        				<button class="btn btn-default" type="submit" id="clickBtn" name="submit"><img src="images/Search.png" height="15px"/> Search</button>
      				</span>
    			</div>
    		</form>
    	</div>
    	<div class="col-lg-1"></div>
	</div>
	<section>
		<%= yield %>
	</section>
</body>
</html>
